@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(240, 240, 240);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    background: white;
    margin-top: 100px;
    border-top: 6px solid rgb(93, 5, 235);
}

.container img{
    width: 250px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container h1{
    font-size: 85px;
    margin-bottom: 50px;
}
.container h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-style: bold;
}

.container p{
    font-style: italic;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container li{
    font-style: italic;
    font-size: 25px;
}

.container h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: normal;
}

.container strong{
    font-style: normal;
    font-size: 25px;
}